body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2;
}

a{
    text-decoration: none;
    cursor: pointer;
}

header{
    width: 100%;
    height: 64px;
}

header nav{
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a{
    margin-right: 16px;
    color: #2f2f2f;
}

nav .nav-right-section .menu-icon{
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-right-section img{
    border-radius: 50px;
    margin-left: 16px;
}

main{
    margin-top: 150px;
    text-align: center;
}

main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 32px;
}

main .main-logo img{
    width: 101px;
}

main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 32px;
}

main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #f2f2f;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

main .main-input-container .search-icon{
    background-image: url(https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

main .main-input-container .micro-icon{
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/1200px-Google_mic.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

main .main-buttons{
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    height: 28px;
    background-color: #ffffff;
    border: 0;
    font-size: 13px;
    color: rgb(138, 155, 170);
    border-radius: 6px;
    padding: 8px;
    margin-right: 16px;
    text-align: center;
}

main .main-buttons button:hover{
    border: 1px solid #c3c3c3;
    box-shadow: 0 1px 1px #6e7777;
    color: #2f2f2f;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #ffffff;
    border-top: 1px solid #c3c3c3;
    font-size: 12px;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0px;
}

footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-self: right;
}

footer ul li a{
    margin: 10px;
    color: #777073;
}